/* eGlobe UI Progress Bar */
.eg-ui-progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    background-color: var(--eg-ui-neutral-200);
    border-radius: var(--eg-ui-radius-full);
}

.eg-ui-progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: var(--eg-ui-primary-600);
    transition: width 0.6s ease;
}

/* Colors */
.eg-ui-progress-bar--success {
    background-color: var(--eg-ui-success);
}

.eg-ui-progress-bar--info {
    background-color: var(--eg-ui-info);
}

.eg-ui-progress-bar--warning {
    background-color: var(--eg-ui-warning);
}

.eg-ui-progress-bar--danger {
    background-color: var(--eg-ui-danger);
}

/* Sizes */
.eg-ui-progress--sm {
    height: 0.5rem;
}

.eg-ui-progress--md {
    height: 1rem;
}

.eg-ui-progress--lg {
    height: 1.5rem;
}

/* Striped */
.eg-ui-progress-bar--striped {
    background-image: linear-gradient(45deg,
            rgba(255, 255, 255, 0.15) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.15) 50%,
            rgba(255, 255, 255, 0.15) 75%,
            transparent 75%,
            transparent);
    background-size: 1rem 1rem;
}

/* Animated Striped */
.eg-ui-progress-bar--animated {
    animation: eg-ui-progress-stripes 1s linear infinite;
}

@keyframes eg-ui-progress-stripes {
    0% {
        background-position-x: 1rem;
    }
}