/* eGlobe UI Utilities (Tailwind-like) */

/* Spacing (Padding) */
.eg-ui-p-0 {
    padding: 0 !important;
}

.eg-ui-p-1 {
    padding: var(--eg-ui-space-1) !important;
}

.eg-ui-p-2 {
    padding: var(--eg-ui-space-2) !important;
}

.eg-ui-p-3 {
    padding: var(--eg-ui-space-3) !important;
}

.eg-ui-p-4 {
    padding: var(--eg-ui-space-4) !important;
}

.eg-ui-p-5 {
    padding: var(--eg-ui-space-5) !important;
}

.eg-ui-p-6 {
    padding: var(--eg-ui-space-6) !important;
}

.eg-ui-p-8 {
    padding: var(--eg-ui-space-8) !important;
}

.eg-ui-p-10 {
    padding: var(--eg-ui-space-10) !important;
}

.eg-ui-p-12 {
    padding: var(--eg-ui-space-12) !important;
}

.eg-ui-px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.eg-ui-px-1 {
    padding-left: var(--eg-ui-space-1) !important;
    padding-right: var(--eg-ui-space-1) !important;
}

.eg-ui-px-2 {
    padding-left: var(--eg-ui-space-2) !important;
    padding-right: var(--eg-ui-space-2) !important;
}

.eg-ui-px-3 {
    padding-left: var(--eg-ui-space-3) !important;
    padding-right: var(--eg-ui-space-3) !important;
}

.eg-ui-px-4 {
    padding-left: var(--eg-ui-space-4) !important;
    padding-right: var(--eg-ui-space-4) !important;
}

.eg-ui-px-5 {
    padding-left: var(--eg-ui-space-5) !important;
    padding-right: var(--eg-ui-space-5) !important;
}

.eg-ui-px-6 {
    padding-left: var(--eg-ui-space-6) !important;
    padding-right: var(--eg-ui-space-6) !important;
}

.eg-ui-px-8 {
    padding-left: var(--eg-ui-space-8) !important;
    padding-right: var(--eg-ui-space-8) !important;
}

.eg-ui-px-10 {
    padding-left: var(--eg-ui-space-10) !important;
    padding-right: var(--eg-ui-space-10) !important;
}

.eg-ui-px-12 {
    padding-left: var(--eg-ui-space-12) !important;
    padding-right: var(--eg-ui-space-12) !important;
}

.eg-ui-py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.eg-ui-py-1 {
    padding-top: var(--eg-ui-space-1) !important;
    padding-bottom: var(--eg-ui-space-1) !important;
}

.eg-ui-py-2 {
    padding-top: var(--eg-ui-space-2) !important;
    padding-bottom: var(--eg-ui-space-2) !important;
}

.eg-ui-py-3 {
    padding-top: var(--eg-ui-space-3) !important;
    padding-bottom: var(--eg-ui-space-3) !important;
}

.eg-ui-py-4 {
    padding-top: var(--eg-ui-space-4) !important;
    padding-bottom: var(--eg-ui-space-4) !important;
}

.eg-ui-py-5 {
    padding-top: var(--eg-ui-space-5) !important;
    padding-bottom: var(--eg-ui-space-5) !important;
}

.eg-ui-py-6 {
    padding-top: var(--eg-ui-space-6) !important;
    padding-bottom: var(--eg-ui-space-6) !important;
}

.eg-ui-py-8 {
    padding-top: var(--eg-ui-space-8) !important;
    padding-bottom: var(--eg-ui-space-8) !important;
}

.eg-ui-py-10 {
    padding-top: var(--eg-ui-space-10) !important;
    padding-bottom: var(--eg-ui-space-10) !important;
}

.eg-ui-py-12 {
    padding-top: var(--eg-ui-space-12) !important;
    padding-bottom: var(--eg-ui-space-12) !important;
}

.eg-ui-pt-0 {
    padding-top: 0 !important;
}

.eg-ui-pt-1 {
    padding-top: var(--eg-ui-space-1) !important;
}

.eg-ui-pt-2 {
    padding-top: var(--eg-ui-space-2) !important;
}

.eg-ui-pt-3 {
    padding-top: var(--eg-ui-space-3) !important;
}

.eg-ui-pt-4 {
    padding-top: var(--eg-ui-space-4) !important;
}

.eg-ui-pt-5 {
    padding-top: var(--eg-ui-space-5) !important;
}

.eg-ui-pt-6 {
    padding-top: var(--eg-ui-space-6) !important;
}

.eg-ui-pt-8 {
    padding-top: var(--eg-ui-space-8) !important;
}

.eg-ui-pr-0 {
    padding-right: 0 !important;
}

.eg-ui-pr-1 {
    padding-right: var(--eg-ui-space-1) !important;
}

.eg-ui-pr-2 {
    padding-right: var(--eg-ui-space-2) !important;
}

.eg-ui-pr-3 {
    padding-right: var(--eg-ui-space-3) !important;
}

.eg-ui-pr-4 {
    padding-right: var(--eg-ui-space-4) !important;
}

.eg-ui-pr-5 {
    padding-right: var(--eg-ui-space-5) !important;
}

.eg-ui-pr-6 {
    padding-right: var(--eg-ui-space-6) !important;
}

.eg-ui-pr-8 {
    padding-right: var(--eg-ui-space-8) !important;
}

.eg-ui-pb-0 {
    padding-bottom: 0 !important;
}

.eg-ui-pb-1 {
    padding-bottom: var(--eg-ui-space-1) !important;
}

.eg-ui-pb-2 {
    padding-bottom: var(--eg-ui-space-2) !important;
}

.eg-ui-pb-3 {
    padding-bottom: var(--eg-ui-space-3) !important;
}

.eg-ui-pb-4 {
    padding-bottom: var(--eg-ui-space-4) !important;
}

.eg-ui-pb-5 {
    padding-bottom: var(--eg-ui-space-5) !important;
}

.eg-ui-pb-6 {
    padding-bottom: var(--eg-ui-space-6) !important;
}

.eg-ui-pb-8 {
    padding-bottom: var(--eg-ui-space-8) !important;
}

.eg-ui-pl-0 {
    padding-left: 0 !important;
}

.eg-ui-pl-1 {
    padding-left: var(--eg-ui-space-1) !important;
}

.eg-ui-pl-2 {
    padding-left: var(--eg-ui-space-2) !important;
}

.eg-ui-pl-3 {
    padding-left: var(--eg-ui-space-3) !important;
}

.eg-ui-pl-4 {
    padding-left: var(--eg-ui-space-4) !important;
}

.eg-ui-pl-5 {
    padding-left: var(--eg-ui-space-5) !important;
}

.eg-ui-pl-6 {
    padding-left: var(--eg-ui-space-6) !important;
}

.eg-ui-pl-8 {
    padding-left: var(--eg-ui-space-8) !important;
}

/* Spacing (Margin) */
.eg-ui-m-0 {
    margin: 0 !important;
}

.eg-ui-m-1 {
    margin: var(--eg-ui-space-1) !important;
}

.eg-ui-m-2 {
    margin: var(--eg-ui-space-2) !important;
}

.eg-ui-m-3 {
    margin: var(--eg-ui-space-3) !important;
}

.eg-ui-m-4 {
    margin: var(--eg-ui-space-4) !important;
}

.eg-ui-m-5 {
    margin: var(--eg-ui-space-5) !important;
}

.eg-ui-m-6 {
    margin: var(--eg-ui-space-6) !important;
}

.eg-ui-m-8 {
    margin: var(--eg-ui-space-8) !important;
}

.eg-ui-m-10 {
    margin: var(--eg-ui-space-10) !important;
}

.eg-ui-m-12 {
    margin: var(--eg-ui-space-12) !important;
}

.eg-ui-mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.eg-ui-mx-1 {
    margin-left: var(--eg-ui-space-1) !important;
    margin-right: var(--eg-ui-space-1) !important;
}

.eg-ui-mx-2 {
    margin-left: var(--eg-ui-space-2) !important;
    margin-right: var(--eg-ui-space-2) !important;
}

.eg-ui-mx-3 {
    margin-left: var(--eg-ui-space-3) !important;
    margin-right: var(--eg-ui-space-3) !important;
}

.eg-ui-mx-4 {
    margin-left: var(--eg-ui-space-4) !important;
    margin-right: var(--eg-ui-space-4) !important;
}

.eg-ui-mx-5 {
    margin-left: var(--eg-ui-space-5) !important;
    margin-right: var(--eg-ui-space-5) !important;
}

.eg-ui-mx-6 {
    margin-left: var(--eg-ui-space-6) !important;
    margin-right: var(--eg-ui-space-6) !important;
}

.eg-ui-mx-8 {
    margin-left: var(--eg-ui-space-8) !important;
    margin-right: var(--eg-ui-space-8) !important;
}

.eg-ui-mx-10 {
    margin-left: var(--eg-ui-space-10) !important;
    margin-right: var(--eg-ui-space-10) !important;
}

.eg-ui-mx-12 {
    margin-left: var(--eg-ui-space-12) !important;
    margin-right: var(--eg-ui-space-12) !important;
}

.eg-ui-mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.eg-ui-my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.eg-ui-my-1 {
    margin-top: var(--eg-ui-space-1) !important;
    margin-bottom: var(--eg-ui-space-1) !important;
}

.eg-ui-my-2 {
    margin-top: var(--eg-ui-space-2) !important;
    margin-bottom: var(--eg-ui-space-2) !important;
}

.eg-ui-my-3 {
    margin-top: var(--eg-ui-space-3) !important;
    margin-bottom: var(--eg-ui-space-3) !important;
}

.eg-ui-my-4 {
    margin-top: var(--eg-ui-space-4) !important;
    margin-bottom: var(--eg-ui-space-4) !important;
}

.eg-ui-my-5 {
    margin-top: var(--eg-ui-space-5) !important;
    margin-bottom: var(--eg-ui-space-5) !important;
}

.eg-ui-my-6 {
    margin-top: var(--eg-ui-space-6) !important;
    margin-bottom: var(--eg-ui-space-6) !important;
}

.eg-ui-my-8 {
    margin-top: var(--eg-ui-space-8) !important;
    margin-bottom: var(--eg-ui-space-8) !important;
}

.eg-ui-my-10 {
    margin-top: var(--eg-ui-space-10) !important;
    margin-bottom: var(--eg-ui-space-10) !important;
}

.eg-ui-my-12 {
    margin-top: var(--eg-ui-space-12) !important;
    margin-bottom: var(--eg-ui-space-12) !important;
}

.eg-ui-mt-0 {
    margin-top: 0 !important;
}

.eg-ui-mt-1 {
    margin-top: var(--eg-ui-space-1) !important;
}

.eg-ui-mt-2 {
    margin-top: var(--eg-ui-space-2) !important;
}

.eg-ui-mt-3 {
    margin-top: var(--eg-ui-space-3) !important;
}

.eg-ui-mt-4 {
    margin-top: var(--eg-ui-space-4) !important;
}

.eg-ui-mt-5 {
    margin-top: var(--eg-ui-space-5) !important;
}

.eg-ui-mt-6 {
    margin-top: var(--eg-ui-space-6) !important;
}

.eg-ui-mt-8 {
    margin-top: var(--eg-ui-space-8) !important;
}

.eg-ui-mr-0 {
    margin-right: 0 !important;
}

.eg-ui-mr-1 {
    margin-right: var(--eg-ui-space-1) !important;
}

.eg-ui-mr-2 {
    margin-right: var(--eg-ui-space-2) !important;
}

.eg-ui-mr-3 {
    margin-right: var(--eg-ui-space-3) !important;
}

.eg-ui-mr-4 {
    margin-right: var(--eg-ui-space-4) !important;
}

.eg-ui-mr-5 {
    margin-right: var(--eg-ui-space-5) !important;
}

.eg-ui-mr-6 {
    margin-right: var(--eg-ui-space-6) !important;
}

.eg-ui-mr-8 {
    margin-right: var(--eg-ui-space-8) !important;
}

.eg-ui-mb-0 {
    margin-bottom: 0 !important;
}

.eg-ui-mb-1 {
    margin-bottom: var(--eg-ui-space-1) !important;
}

.eg-ui-mb-2 {
    margin-bottom: var(--eg-ui-space-2) !important;
}

.eg-ui-mb-3 {
    margin-bottom: var(--eg-ui-space-3) !important;
}

.eg-ui-mb-4 {
    margin-bottom: var(--eg-ui-space-4) !important;
}

.eg-ui-mb-5 {
    margin-bottom: var(--eg-ui-space-5) !important;
}

.eg-ui-mb-6 {
    margin-bottom: var(--eg-ui-space-6) !important;
}

.eg-ui-mb-8 {
    margin-bottom: var(--eg-ui-space-8) !important;
}

.eg-ui-ml-0 {
    margin-left: 0 !important;
}

.eg-ui-ml-1 {
    margin-left: var(--eg-ui-space-1) !important;
}

.eg-ui-ml-2 {
    margin-left: var(--eg-ui-space-2) !important;
}

.eg-ui-ml-3 {
    margin-left: var(--eg-ui-space-3) !important;
}

.eg-ui-ml-4 {
    margin-left: var(--eg-ui-space-4) !important;
}

.eg-ui-ml-5 {
    margin-left: var(--eg-ui-space-5) !important;
}

.eg-ui-ml-6 {
    margin-left: var(--eg-ui-space-6) !important;
}

.eg-ui-ml-8 {
    margin-left: var(--eg-ui-space-8) !important;
}

/* Text & Typography */
.eg-ui-text-left {
    text-align: left !important;
}

.eg-ui-text-center {
    text-align: center !important;
}

.eg-ui-text-right {
    text-align: right !important;
}

.eg-ui-text-justify {
    text-align: justify !important;
}

.eg-ui-text-xs {
    font-size: var(--eg-ui-text-xs) !important;
}

.eg-ui-text-sm {
    font-size: var(--eg-ui-text-sm) !important;
}

.eg-ui-text-md {
    font-size: var(--eg-ui-text-base) !important;
}

.eg-ui-text-base {
    font-size: var(--eg-ui-text-base) !important;
}

.eg-ui-text-lg {
    font-size: var(--eg-ui-text-lg) !important;
}

.eg-ui-text-xl {
    font-size: var(--eg-ui-text-xl) !important;
}

.eg-ui-text-2xl {
    font-size: var(--eg-ui-text-2xl) !important;
}

.eg-ui-font-light {
    font-weight: 300 !important;
}

.eg-ui-font-normal {
    font-weight: 400 !important;
}

.eg-ui-font-medium {
    font-weight: 500 !important;
}

.eg-ui-font-semibold {
    font-weight: 600 !important;
}

.eg-ui-font-bold {
    font-weight: 700 !important;
}

.eg-ui-text-muted {
    color: var(--eg-ui-neutral-500) !important;
}

/* Borders & Radius */
.eg-ui-rounded-none {
    border-radius: 0 !important;
}

.eg-ui-rounded-sm {
    border-radius: var(--eg-ui-radius-sm) !important;
}

.eg-ui-rounded {
    border-radius: var(--eg-ui-radius-md) !important;
}

.eg-ui-rounded-md {
    border-radius: var(--eg-ui-radius-md) !important;
}

.eg-ui-rounded-lg {
    border-radius: var(--eg-ui-radius-lg) !important;
}

.eg-ui-rounded-xl {
    border-radius: var(--eg-ui-radius-xl) !important;
}

.eg-ui-rounded-full {
    border-radius: var(--eg-ui-radius-full) !important;
}